@font-face {
    font-family: "Circular-Bold";
    font-display: swap;
    src: url("https://fonts.brandfolder.com/circular/lineto-circular-bold.eot");
    src: url("https://fonts.brandfolder.com/circular/lineto-circular-bold.eot?#iefix") format("embedded-opentype"), url("https://fonts.brandfolder.com/circular/lineto-circular-bold.woff2") format("woff2"), url("https://fonts.brandfolder.com/circular/lineto-circular-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Circular-Book";
    font-display: swap;
    src: url("https://fonts.brandfolder.com/circular/lineto-circular-book.eot");
    src: url("https://fonts.brandfolder.com/circular/lineto-circular-book.eot?#iefix") format("embedded-opentype"), url("https://fonts.brandfolder.com/circular/lineto-circular-book.woff2") format("woff2"), url("https://fonts.brandfolder.com/circular/lineto-circular-book.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Circular-Medium";
    font-display: swap;
    src: url("https://fonts.brandfolder.com/circular/lineto-circular-medium.eot");
    src: url("https://fonts.brandfolder.com/circular/lineto-circular-medium.eot?#iefix") format("embedded-opentype"), url("https://fonts.brandfolder.com/circular/lineto-circular-medium.woff2") format("woff2"), url("https://fonts.brandfolder.com/circular/lineto-circular-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
        display: none;
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes popupCharlie {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-171px);
    }

    100% {
        transform: translateY(0);
    }
}

header {
    width: 100%;
    height: 60px;
    /* background-image: linear-gradient(259deg, #004FC6 0%, #6987D7 97%); */
    margin: 0;
    animation: animatedGradient 10s ease infinite;
    background-image: linear-gradient(-269deg,#004FC6 0%, #6987D7 97%);
    background-size: 200% 200%;
    position: fixed;
    top: 0;
    transition: transform .1s linear;
}

header.reduced {
    transform: translateY(-60px);
    transition: transform .25s linear;
}

header nav {
    max-width: 1024px;
    display: block;
    margin: 0 auto;
}
    header nav img {
        width: 34px;
        height: auto;
        padding: 12px 18px;
    }


.running-wild__hero-section {
    width: 100%;
    background-color: #F1F5FA;
    margin: 60px 0 0 0;
}
    .running-wild__hero-section h1 {
        text-align: center;
        font-family: 'Circular-Bold', Helvetica, sans-serif;
        font-size: 40px;
        color: #333333;
        padding: 43px 0;
        margin: 0;
    }
    @media only screen and (max-width: 768px) {
        .running-wild__hero-section h1 {
            font-size: 28px;
            padding: 37px 0;
        }
    }

.running-wild__featured-doggo-section {
    width: 100%;
    padding: 70px 75px 60px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    .running-wild__featured-doggo-section {
        flex-direction: column-reverse;
        padding: 25px 30px 45px 30px;
    }
}
    .running-wild__featured-doggo--photo img {
        width: 100%;
    }

    .running-wild__featured-doggo--description {
        padding: 0 40px 0 63px;
        box-sizing: border-box;
    }   
        @media only screen and (max-width: 1023px) {
            .running-wild__featured-doggo--description {
                padding: 0 5%;
            }
        }
        @media only screen and (max-width: 768px) {
            .running-wild__featured-doggo--description {
                padding: 10px 0;
            }
            .running-wild__featured-doggo--description p {
                margin-top: 10px;
            }
        }
.running-wild__all-doggos-section {
    padding: 0 75px 60px 75px;
}
@media only screen and (max-width: 768px) {
    .running-wild__all-doggos-section {
        padding: 0 30px 45px 30px;
    }
}

@media only screen and (max-width: 768px) {
    .running-wild__all-dogos-headline {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
}

.running-wild__all-doggos--list {
    display: grid;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-items: start;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .running-wild__all-doggos--list {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, 252px);
        justify-items: center;
    }
}
  

.running-wild__all-doggos--list-item {
    width: 100%;
}
  
.running-wild__all-doggos--list-item figure {
    width: 100%;
    margin: 0;
}
.running-wild__all-doggos--list-item figcaption {
    line-height: 1;
}
@media only screen and (max-width: 768px) {
    .running-wild__all-doggos--list-item figcaption {
        display: none;
    }
}
.running-wild__all-doggos--doggo-image {
    display: block;
    margin: 0;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .running-wild__all-doggos--doggo-image {
        width: 258px;
        height: 192px;
        object-fit: cover;
        object-position: center 20%;
    }
}

.charComic {
    width: 225px;
    height: 171px;
    display: block;
    position: fixed;
    bottom: -171px;
    left: 0;
    right: 0;
    margin: auto;
}
.charComic.poppedUp {
    position: fixed;
    animation: popupCharlie 10s ease-in .5s 1 normal;
}

h2 {
    color: #4A4A4A;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 28px;
    font-family: 'Circular-Bold', Helvetica, sans-serif;
}
@media only screen and (max-width: 768px) {
    h2 {
        margin-bottom: 10px;
        color: #4A4A4A;
        font-size: 18px;
    }
}
p, figcaption {
    background: transparent;
    color: #4A4A4A;
    font-family: "Circular-Book", "Arial", "Trebuchet MS", sans-serif;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 20px;
    margin: 15px 0
}

.grid--half-width {
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .grid--half-width {
        width: 100%;
        max-width: 450px;
    }
}


.max-width-container {
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
html,
body {
    background-color: white;
    color: #586377;
    font-family: "Circular-Book", "Arial", "Trebuchet MS", sans-serif;
    font-variant-ligatures: no-common-ligatures;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    -webkit-font-smoothing: antialiased
}

body.no-scroll {
    overflow: hidden
}

.async-hide {
    opacity: 0 !important
}

::-moz-selection {
    background: #4462c9;
    color: white;
    text-shadow: none
}

::selection {
    background: #4462c9;
    color: white;
    text-shadow: none
}

::-webkit-input-placeholder {
    color: #586377 !important
}

::-moz-placeholder {
    color: #586377 !important
}

:-moz-placeholder {
    color: #586377 !important
}

:-ms-input-placeholder {
    color: #586377 !important
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    background: #ccc;
    color: black;
    margin: 0.2em 0;
    padding: 0.2em 0
}

a {
    color: #4462c9;
    font-size: 16px;
    padding: 15px 0;
    text-decoration: none;
    transition: color .35s linear
}

a:hover {
    color: #2b4395;
    text-decoration: none
}

@media only screen and (max-width: 480px) {

    p,
    li {
        letter-spacing: 0em
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table td {
    border: 1px solid #cecece;
    padding: 5px 30px
}

.eyebrow-headline {
    color: #586377;
    font-family: "Circular-Medium", "Arial", "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 24px;
    text-transform: uppercase
}

.black-bold-font {
    font-family: "Circular-Black", "Arial", "Trebuchet MS", sans-serif;
    font-weight: 700
}

strong,
.bold-font {
    font-family: "Circular-Bold", "Arial", "Trebuchet MS", sans-serif;
    font-weight: 700
}

.medium-bold-font {
    font-family: "Circular-Medium", "Arial", "Trebuchet MS", sans-serif;
    font-weight: 500
}

.page-wrapper {
    background: white;
    margin: 90px auto 0 auto;
    max-width: 1768
}

@media only screen and (max-width: 768px) {
    .page-wrapper {
        margin: 0 auto
    }
}

.banner-on-top {
    margin-top: 134px
}

@media only screen and (max-width: 768px) {
    .banner-on-top {
        margin-top: 0
    }
}

.cta {
    padding: 0 0 15px 0
}

.cta__arrow {
    margin: 0 20px 4px 0;
    transition: transform 0.3s cubic-bezier(0.32, -0.05, 0.38, 0.88)
}

.cta a:hover img {
    transform: translateX(12px)
}

.custom-bulletpoint-list {
    list-style: none;
    -webkit-padding-start: 24px
}

.custom-bulletpoint-list li {
    margin: 0;
    padding: 10px 6px 10px 30px;
    position: relative
}

.custom-bulletpoint-list li:before {
    background-image: url("https://cdn.brandfolder.io/I6FML9WY/as/pglui2-2ufluw-7k8alj/bulletpoint-icon.svg");
    background-repeat: no-repeat;
    content: '';
    height: 16px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 16px
}

.section {
    opacity: 1;
    padding: 30px 60px;
    position: relative;
    transition: opacity 0.75s linear
}

@media only screen and (max-width: 480px) {
    .section {
        padding: 20px
    }
}

.section .flex-quarter {
    align-items: stretch;
    margin: 10px;
    max-width: 300px;
    min-width: 260px;
    width: calc(100% / 4)
}

.section .flex-quarter-half {
    align-items: stretch;
    margin: 10px;
    min-width: 260px;
    max-width: 300px;
    width: calc(100% / 4)
}

@media only screen and (max-width: 1575px) {
    .section .flex-quarter-half {
        max-width: 40%;
        width: calc(100% / 2)
    }
}

@media only screen and (max-width: 480px) {
    .section .flex-half-1 {
        order: 1
    }
}

@media only screen and (max-width: 480px) {
    .section .flex-half-2 {
        order: 2
    }
}

.section.tall {
    height: 100%;
    min-height: 500px
}

.section.tall .flex-half {
    flex: 2 1;
    min-height: 400px
}

.section .content-wrap {
    max-width: 700px;
    padding: 60px;
    position: relative
}


.single-column-layout {
    margin-top: 90px
}

.single-column-layout__body {
    margin: 0 auto 50px;
    max-width: 700px
}

.single-column-layout__body h1 {
    margin-top: 0
}

.single-column-layout__body h2 {
    margin: 15px 0 0;
    text-align: left;
    width: 100%
}

.single-column-layout__body p {
    margin: 10px 0
}

.hidden {
    display: none !important
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit
}

.invisible {
    visibility: hidden
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " ("attr(href) ")"
    }

    abbr[title]:after {
        content: " ("attr(title) ")"
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }

    pre {
        white-space: pre-wrap !important
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,
    img {
        page-break-inside: avoid
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}

.osano-cm-widget {
    display: none
}